{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> 

        Welcome to BLOG CENTER, where we delve deep into the sizzling world of software engineering and 
        the hottest topics that fuel our ever-evolving digital landscape. If you're a code aficionado, a tech enthusiast,
        or simply curious about the magic behind the screens, you've landed in the right place.
        <li>🚀 Igniting Your Software Journey</li>
        <li>💡 Lighting Up the Path</li>
        <li>🌐 Join the Community</li>
        </p>
        <a href="{% url 'home' %}"
           class="btn btn-danger">Know more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}